<div class="banner">
  <div class="logo-wrapper">
    <label (click)="loadpage('about')">Issue Tracker</label>
  </div>
  <div class="nav-wrapper">
    <!-- <label class="nav-label" (click)="loadpage('about')">About</label> -->
    <label class="nav-label" (click)="loadpage('registerandlogin')">Register and Login</label>
    <label class="nav-label" (click)="loadpage('login')">Login</label>
    <label class="nav-label" (click)="loadpage('register')">Register</label>
    <label class="nav-label" (click)="loadpage('viewissues')">View Issues</label>
  </div>
  <div class="actions-wrapper">
    <button routerLink="/issuetracker/login" class="btn btn-danger mx-2">Logout</button>
    <!-- <button (click)="loadpage('login')" class="btn btn-danger mx-2">Logout</button> -->
  </div>
</div>