p{
    color: #fff;
}

.content-wrapper{
    background-color: rgb(77, 37, 12);
    height: 70vh;
    border-radius: 1em;
    padding: 0px;
}

/* .content-card {
    height: 0;
    padding: 0;
    overflow-y: hidden;
  } */
  




 